@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import "tailwindcss";

/* hover:bg-[#643a3a]  red */
/* hover:bg-[crimson]  red */
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --shadow-light-1-sm: 0 0 4px 0 hsla(227, 59%, 21%, 0.3);
  --shadow-dark-1-sm: 0 0 12px 0 hsla(0, 0%, 0%, 0.5);
  --shadow-light-1-md: 0 0 2px 0 hsla(227, 59%, 21%, 0.3),0 0 12px 0 hsla(227, 59%, 21%, 0.2);
  --shadow-dark-1-md: 0 0 2px 0 hsla(0, 0%, 0%, 0.3),0 0 12px 0 hsla(0, 0%, 0%, 0.5);
  --shadow-light-1-lg: 0 0 2px 0 hsla(227, 59%, 21%, 0.3),0 0 16px 0 hsla(227, 59%, 21%, 0.2);
  --shadow-dark-1-lg: 0 0 2px 0 hsla(0, 0%, 0%, 0.3),0 0 16px 0 hsla(0, 0%, 0%, 0.5);
}

button,label {
  cursor: pointer;
}

.custom-font-1 {
  font-family: "Playfair Display", serif;
}

.UiLayer {
    @apply
 text-[#2e2e2e]
 dark:text-neutral-200

}

.theme-effect-1 {
  @apply
    active:ring-2
  hover:bg-blue-200
  active:ring-[#1499db]

  dark:hover:bg-neutral-800
  dark:active:ring-[crimson]

}

.SlideMenu {
  @apply 
   bg-white
   shadow-light-1-md

   dark:shadow-dark-1-md
  dark:bg-neutral-900
}

.Container {
  @apply
  shadow-light-1-sm
  dark:shadow-dark-1-sm
}

.BtnIcon {
  @apply
  bg-blue-100
  dark:bg-neutral-900
}

.BtnOptionAction-selected {
  @apply
  ring-2

  ring-[#1499db]
  hover:bg-blue-200
  dark:ring-[crimson]
  dark:hover:bg-neutral-900
}

/* toolbar */
.ToolBar {
  @apply
  w-fit mx-auto p-2
  absolute bottom-0 left-[50%] translate-x-[-50%]
  flex gap-2 rounded-xl

  bg-blue-50
  shadow-light-1-lg
  dark:bg-neutral-900
   dark:shadow-dark-1-lg
}

.BtnTool {
  @apply
  w-[40px] h-[40px]
  flex justify-center items-center
  text-center rounded-lg
  active:ring-2
}
.BtnTool-selected {
  @apply
  shadow-md 
  active:ring-0
  
  bg-[#1499db]  hover:bg-[#1499db]
  shadow-[#1499db]

  dark:bg-[crimson] 
  dark:hover:bg-[crimson]
  dark:shadow-[crimson]
}